html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 2rem;
  font-family: "FF Meta VF";
  background: #eee;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

/*.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}


@media screen and (min-width: 40rem) {
  body {
    padding: 0 4rem;
  }
}

h1, h6 {
  margin: 0;
}

h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
  line-height: 1.2;
  transition: all 1s ease;
  padding-top: 4rem;
}
@media screen and (min-width: 40rem) {
  h1 {
    font-size: 8rem;
    margin-bottom: 6rem;
  }
}

code,
h5 {
  display: inline-block;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  line-height: 1.8;
  padding: 6px;
  color: #eee;
}
@media screen and (min-width: 40rem) {
  code,
  h5 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

code {
  background: #111;
  display: block;
}
code span {
  color: yellow;
}

h5 {
  background: #eee;
  color: cornflowerblue;
}
h5 a {
  color: inherit;
}
h5 a:hover {
  opacity: 0.8;
  text-decoration: none;
}

/*   The magic happens in font-variation-settings: change the 0 on line 75 to anything between 0 & 999 to make the weight of the heading transform */
/*h1 {
  font-variation-settings: "wght" 350, "ital" 0;
}


.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
